@import './normalize';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

$width: 900px;
$color: black;

html {
  height: 100%;
}

body {
  background-color: rgb(34,193,195);
  background: linear-gradient(66deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  font-family: 'Mukta', sans-serif;
  transition: background-color linear .3s;
}


.playground {
  order: 2;
  width: 100%;
  display: grid;
  user-select: none;
  gap: 2px;
  background-color: #939393;
  -webkit-box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.4);
  box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.4);
}

.select-mode {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  border-top-left-radius: 5px;
}

.mines-count {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.new-game {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.theme {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.timer {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.steps {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.flag-count {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.results {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  border-top-right-radius: 5px;
}

.select-mode,
.mines-count,
.new-game,
.results {
  background-color: #dedef8;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color linear .3s;
  cursor: pointer;
  &:hover {
    background-color: #f4f4f6;
  }
}

.mines-count {
  cursor: text;
}


.timer,
.steps,
.flag-count,
.theme {
  align-self: center;
  justify-self: center;
  font-family: 'Mukta', sans-serif;
  text-transform: uppercase;
}

.theme {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background: url(../icons/sun.png) 0 0/ cover no-repeat;
}

.sun {
  background: url(../icons/moon.png) 0 0/ cover no-repeat;
}

.size-10 {
  grid-template-columns: repeat(10, 1fr);
  max-width: 500px;
}

.size-15 {
  grid-template-columns: repeat(15, 1fr);
  max-width: 600px;
}

.size-25 {
  grid-template-columns: repeat(25, 1fr);
  max-width: 750px;
}

.cell {
  appearance: none;
  border: none;
  outline: none;
  background-color: #f4d33a;
  aspect-ratio: 1 / 1;
  font-size: 150%;
  font-weight: 700;
  transition: background-color linear .3s;
  -webkit-box-shadow: -8px -8px 5px -5px rgba(7, 8, 9, 0.6) inset, 8px 8px 5px -5px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: -8px -8px 5px -5px rgba(7, 8, 9, 0.6) inset, 8px 8px 5px -5px rgba(255, 255, 255, 1) inset;
  box-shadow: -8px -8px 5px -5px rgba(7, 8, 9, 0.6) inset, 8px 8px 5px -5px rgba(255, 255, 255, 1) inset;
  &:disabled {
    background-color: #fff2a3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.flag {
  background: url(../icons/flag.png) 0 0 / cover no-repeat;
  background-color: #85a8e5;
}
.control {
  max-width: $width;
  order: 1;
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30px);
  row-gap: 7px;
  column-gap: 3px;
  padding: 2px 2px 5px 2px;
  background-color: #f4d33a;
  border-radius: 5px;
  transition: background-color linear .3s;
}




.no-events-modal,
.no-events {
  pointer-events: none;
}

.hidden {
  display: none;
}

.result {
  width: fit-content;
}

.result-list {
  width: fit-content;
  margin: 0 auto;
}

.result-title {
  text-align: center;
  font-size: 25px;
}

.modal-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 70%;
  max-width: 950px;
  background-color: rgba(0, 0, 0, 0.684);
  border-radius: 15px;
  color: #ffff;
}

.cross {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 8px;
    background-color: rgb(163, 163, 163);
    transition: background-color linear .3s;
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    &::before,
    &::after {
      background-color: rgb(255, 255, 255);
    }
  }
}

.boom {
  background: url(../icons/bomb.png) 0 0 /cover no-repeat;
}

.not-boom {
  background: url(../icons/saved-bomb.png) 0 0 /cover no-repeat, #4be34b;
}

.near-1 {
  color: #2a58ff;
}

.near-2 {
  color: #00c400;
}

.near-3,
.near-8  {
  color: #ed0000;
}

.near-4,
.near-6,
.near-7 {
  color: #9a00ed;
}

.near-5,
.near-9 {
  color: #eda200;
}




body.dark {
  background: rgb(19,62,66);
  background: linear-gradient(326deg, rgba(19,62,66,1) 0%, rgba(38,38,59,1) 100%);

  .cell {
    background-color: #a9a9a9;
    &:disabled {
      background-color: #090d19;
    }
  }

  .playground {
    background-color: #8b7611;
  }

  .control {
    background-color: #3093ab;
  }

  .not-boom {
    background: url(../icons/saved-bomb.png) 0 0 /cover no-repeat, #4be34b;
  }

  .flag {

    background-color: #ffd300;
  }
}

